* {
	box-sizing: border-box;
}

html,
body {
	font-family: Arial, sans-serif;
	color: var(--blanc);
}

html {
	scroll-behavior: smooth;
}

body {
	position: relative;
	background: var(--noir);
	padding-bottom: 1000px;
}

.bg-video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
	pointer-events: none;
	background: var(--noir);
}




