:root {
  /* Couleurs */
  --blanc: #ffffff;
  --noir: #000000;
  --rose: #f61ff1;
  --bleu: #00daff;
  --violet: #ed6aff;
}
/* RGB helpers for use with rgba(var(--...-rgb), a) */
:root {
  --blanc-rgb: 255,255,255;
  --noir-rgb: 0,0,0;
  --rose-rgb: 246,31,241;
  --bleu-rgb: 0,218,255;
  --violet-rgb: 237,106,255;
}


