/* Sections génériques */
.section {
	padding: 0 20px 40px 20px;
}

.section-title {
	font-size: 35px;
	font-weight: 100;
	letter-spacing: 0px;
	margin: 40px 0 25px 0;
	text-transform: uppercase;
	font-family: var(--text-font-sans), sans-serif;
	color: var(--blanc);
}

.section-content { margin-bottom: 25px; }

.subsection-title {
	font-size: 17px;
	font-weight: 100;
	letter-spacing: 0px;
	margin: 1px 0 10px 0;
	font-family: var(--text-font-sans), sans-serif;
	color: var(--rose);
}

.text {
	font-size: 16px;
	font-weight: 0;
	letter-spacing: 0px;
	margin: 10px 0 5px 0;
	font-family: var(--text-font-sans), sans-serif;
	color: var(--blanc);
}

.page-title {
	font-size: 38px;
	font-weight: 300;
	letter-spacing: 0px;
	margin: 100px 0 25px 0;
	text-transform: uppercase;
	font-family: var(--text-font-sans), sans-serif;
	text-align: center;
	color: var(--blanc);
}
