.btn-top {
	position: fixed;
	right: 18px;
	bottom: 30px;
	width: 52px;
	height: 52px;
	background: url("/assets/svg/goup.svg") center/contain no-repeat;
	border: none;
	border-radius: 50%;
	display: block;
	cursor: pointer;
	z-index: 999999;
	transition: transform 0.12s ease, opacity 0.12s ease;
}

.btn-top:active {
	transform: translateY(1px) scale(0.98);
}

.festival-page .topbar {
    right: 33px !important;
}

.festival-page .btn-top {
    position: fixed;
	right: 15px;
	top: 25px;
	gap: 12px;
	align-items: center;
	pointer-events: auto;
	user-select: none;
	z-index: 999999 !important;
    right: 33px !important;
    top: 850px !important;
}

.festival-page .bg-video {
    right: 33px !important;
}