/* Styles spécifiques à la page festival.html pour décaler les éléments vers la gauche */

.festival-page .topbar {
    right: 33px !important;
}

.festival-page .btn-top {
    position: fixed;
	right: 15px;
	top: 25px;
	gap: 12px;
	align-items: center;
	pointer-events: auto;
	user-select: none;
	z-index: 999999 !important;
    right: 33px !important;
    top: 850px !important;
}

.festival-page .bg-video {
    right: 33px !important;
}