h1 {
    font-size: 32px;
    font-weight: 250;
    text-align: left;
    margin-left: -200px;
    margin-top: 500px;
    position: absolute;
    color: var(--blanc);
}

.menu-nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    top: 320px;
    left: 35px;
}

.menu-nav h2 {
    font-family: var(--text-font-sans), sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    line-height: 1.4;
}

.menu-nav h2 a {
    color: var(--blanc);
    text-decoration: none;
    transition: opacity 0.2s ease;
}

.menu-nav h2 a:hover {
    opacity: 0.7;
}

.menu-socials {
    display: flex;
    gap: 15px;
    position: fixed;
    bottom: 50px;
    left: 35px;
    z-index: 100;
}

.menu-socials .social-icon {
    display: block;
    transition: opacity 0.2s ease;
}

.menu-socials .social-icon img {
    width: 50px;
    height: 50px;
    display: block;
    filter: brightness(1);
}

.menu-socials .social-icon:hover {
    opacity: 0.7;
}