/* 1) Utils */
@import "utils/variables.css";

/* 2) Vendors */
@import "vendors/normalize.css";

/* 3) Base */
@import "base/global.css";
@import "base/typography.css";

/* 4) Layout */
@import "layout/layout.css";
@import "layout/sections.css";

/* 5) Components */
@import "components/header.css";
@import "components/hero.css";
@import "components/menu.css";
@import "components/date.css";
@import "components/intro.css";
@import "components/nav-cards.css";
@import "components/partenaires.css";
@import "components/footer.css";
@import "components/buttons.css";
@import "components/cards.css";

/* 6) Pages */
@import "pages/about.css";
@import "pages/artistes.css";
@import "pages/artistetemplate.css";
@import "pages/contact.css";
@import "pages/error.css";
@import "pages/grandescene.css";
@import "pages/infos.css";
@import "pages/programme.css";
@import "pages/scene.css";
