/* 1. Vendors - Spécificité la plus faible */
@import "vendors/normalize.css";  

/* 2. Utils - Variables globales */
@import "utils/variables.css";    

/* 3. Base - Éléments HTML bruts */
@import "base/main.css";
@import "base/media.css";

/* 4. Layout - Structure de page */
@import "layout/header.css";       
@import "layout/layouts.css";
@import "layout/footer.css";

/* 5. Components - Spécificité la plus forte */
@import "components/button.css";
@import "components/carousel.css";
@import "components/scene.css";
@import "components/artistscard.css";
@import "components/card-equipestechniques.css";
@import "components/card-festival.css";
@import "components/card-organisateurs.css";
@import "components/summary-programmation.css";
